body {
    background-image: url("https://img.freepik.com/free-photo/vintage-grunge-paper-background_1048-10911.jpg?w=2000");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    height: 400px;
    width: 325px;
    border-radius: 50%;
    border-color: #a38b14;
    border-style: double;
    border-width: 15px;
}
h1 {
    font-size: 45px;
    text-decoration: overline underline;
    color: #6e6119;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3, h2 {
    color: #4a4212
};

p{
    color: #575130;
}


